<div class="row">
  <div class="col-md-12">
    <div *ngIf="error">
      <p class="alert alert-danger">{{error}}</p>
    </div>
    <div class="" *ngIf="isLoading" style="text-align: center">
      <app-spinner></app-spinner>
    </div>
    <form #authForm='ngForm' (ngSubmit)="onFormSubmit(authForm)" *ngIf="!isLoading">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" ngModel required email>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword" aria-describedby="passwordHelp" name="password" minlength="6" ngModel required>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">{{isLoginMode ? 'Login' : 'Sign Up'}}</button>
      <button class="btn btn-primary" type="button" (click)="onSwitchMode()">Switch to {{isLoginMode ? 'Sign Up' : 'Login'}}</button>
    </form>
  </div>
</div>
