<div class="row">
  <div class="col-md-12">
    <form (ngSubmit)="submitForm()" #form="ngForm">
      <div class="" ngModelGroup="userData">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ngModel
            name="email" required email #email="ngModel">
          <div id="emailHelp" class="form-text text-danger" *ngIf="!email.valid && email.touched">Please Enter Valid
            Email Address</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" ngModel name="password" required
            #password="ngModel">
          <div id="passwordHelp" class="form-text text-danger" *ngIf="!password.valid && password.touched">Please Enter
            Password</div>
        </div>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" ngModel name="update">
        <label class="form-check-label" for="exampleCheck1">Want to Receive Updates?</label>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
    </form>
  </div>
</div>
<hr>
<div class="row" *ngIf="isSubmittedForm">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Email</th>
          <th scope="col">Password</th>
          <th scope="col">Want to Receive Update?</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>{{userData.email}}</td>
          <td>{{userData.password}}</td>
          <td>{{userData.update ? 'Yes' : 'No'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>